
h1 {
  font-family: 'Pirata One', cursive ;
  font-size: 30px;
  color:red;
  text-align: center;
  background-color:yellow;
}

p{
  font-family: 'Pirata One', cursive ;
  font-size: 30px;
  color:red;
  text-align: center;
  background-color:yellow;
}

body {
  background-color:navy;
}
.row {
  display: flex;
  align-items: center;
}

.column {
  flex: 33.33%;
  padding: 5px;
  align-items: center;
}

.homebutton{
    background-color:yellow;
    
}


.button {
  background-color:yellow;
  border:none;
  color:red;
  padding: 10px;
  text-align: center;
  font-family: 'Pirata One', cursive;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  border-radius:50%;
  width: 20%;
  height: 20%;
}

.button:hover { 
  background-color: red;
  color:yellow;
}

img{
  max-width: 50%;
  max-height: 50%;
}